body {
  background-color: black;
}
h1 {
  color: rgb(222, 18, 18);
  margin: 0 0 50px 0;
}
h2{
    color: rgb(224, 13, 9);
    margin: 20px 0 0 0;
  }
h3{
    color: brown;
    margin: 20px 0 0 0;
}
h4{
    color: black;
    margin: 20px 0 0 0;
}
p{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
h5{
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
